.clearfix: after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background:#ffa71e;
	height: 66px;
	padding: 0;
	margin: 0;
	width: 1304px;
	margin: 0 auto;
}


input {
	margin-top: 17px;
	width: 250px;
	height: 28px;
	float: right;
	border: 0px;
	border-radius: 2px;
	font-family: Arial;
	font-size: 12px;
	color: #414141;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 1100px;
	height: 300px;
	padding: 0px;
}

.container2 {
	float: left;
	width: 825px;
	background-color: #eeeeee;
	padding: 0;
	margin: 0;
	height: 175px;
	margin-bottom:0px;
	font-family: Arial;
}

.container3 {
	float: right;
	width: 265px;
	background-color: #fff;
	padding: 0;
	margin: 0;
	height: 3265px;
}

.container4 {
	clear: left;
	float: left;
	width: 825px;
	padding: 0;
	margin: 0;
	height: 393px;
	margin-top: 10px;
}

.container5 { /*bokovaya orange*/
	height: 393px;
	background-color: #ffa71e;
	width: 234px;
	float: right;
}

.container6 {
	clear: left;
	height: 140px;
	background-color: #f7f7f7;
	width: 825px;
	margin: 0px;
	font-family: Arial;
	float: left;
	padding: 0px;
	margin-top: 10px;
}

.container7 {
	background-color: #fff;
	width: 825px;
	height: 455px;
	margin-top: 24px;
	float: left;
	padding: 0px;
}

.container8 {
	width: 825px;
	background-color: #eee;
	height: 2008px;
	float: left;
}

.container9 {
	height: 390px;
	background-color: #fff;
	width: 315px;
	float: right;
	margin-top: -441px;
}

.container10 {
	height: 460px;
	background-color: #eee;
	margin-top:0px;
	padding: 0px;
	width: 825px;
	float: left;
}

.head {

}

.BJ {
	margin: 0;
	padding: 0;
	margin-top: 12px;
	float: left;
}

.menu {
	clear: both;
	display: block;
	margin: 0px;
	padding: 0px;
	margin: 0 auto;
}

.menu li {
	float: left;
	display: block;
	text-decoration: none;
	margin-top: 28px;
	margin-bottom: 30px;
}

.menu a {
	font-family: Arial, bold;
	font-size: 16px;
	color: #414141;
	margin-right: 40px;
}

.cont2label {
	margin-top: 18px;
	color: #ffa71e;
	font-size: 24px;
}

.BJBlack {
	margin: 0px;
	padding: 0px;
	float: right;
	padding-bottom: 20px;
	margin-right: 8px;
}

.container2 a {
	float: right;
	background-color: #ffa71e;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial, bold;
	padding-left: 34px;
	padding-top: 8px;
	padding-right: 34px;
	padding-bottom: 8px;
	color: white;
	text-align: center;
}

.container2 p {
	margin-left: 18px;
}

.top {
	background-color: #f7f7f7;
	height: 360px;
	margin: 0px;
	float: left;
	padding-left: 18px;
}

.stroka {
	float: left;
	margin-top: 0px;
	padding: 0px;
}

.strokaS {
	margin-top: 15px;
}

.cont2top{
	font-size: 18px;
	color: black;
	font-family: Arial, bold;
	margin-top: 22px;
	padding: 0px;
	text-transform: uppercase;
}

.krug {
	width: 21px; 
	height: 21px;
	background: #df2222;
	border-radius: 50%;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

.krug2 {
	width: 21px; 
	height: 21px;
	background: #ffa71d;
	border-radius: 50%;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

.apics {
	float: left;
	margin-left: 10px;
}

.cont2line {
	float: left;
	margin-top: 10px;
	margin-left: 22px;
}

.cont2price {
	font-family: Arial;
	font-size: 11px;
	margin-top: 5px;
	float: right;
	margin-right: 8px;
}

.cont2obzor {
	font-family: Arial, bold;
	font-size: 10px;
	margin-top: 5px;
	float: right;
	color: #989898;
	text-transform: uppercase;
	text-decoration: underline;
	margin-right: 10px;
}

.a {
	float: left;
	position: absolute;
	color: #66430c;
	font-size: 12px;
	margin-left: 6.5px;
	margin-top: 4px;
	font-family: Arial, bold;
}

.izbr {
	background-color: #f7f7f7;
	height: 505px;
	margin: 0px;
	float: left;
	margin-top: 7px;
	padding-left: 18px;
	width: 248.5px;
}

.izbr2 {
	background-color: #fff;
	height: 491px;
	margin-top: 5px;
	float: left;
	margin-left: -12px;
	width: 244px;
	padding-left: 10px;
}

.zapis {
	clear: left;
}

.zapis2 {
	clear: left;
	margin-top: 14px;
	margin-left: 12px;
}

.izbrtxt {
	font-size: 13px;
	color: #121e52;
	text-decoration: underline;
	font-family: Arial, bold;
	width: 250px;
	border: 0px;
}


.izbrsprite {
	object-fit: none;
	object-position: 0 0;
	width: 22px;
	height: 20px;
	margin-top: -8px;
	float: left;
}

.izbrspritenum {
	color: #7f7f7f;
	font-size: 11px;
	font-family: Arial, bold;
	float: left;
	position: absolute;
	margin-top: -7px;
	margin-left: 5.5px;
}

.izbrdata{
	font-size: 11px;
	float: left;d
	font-family: Arial;
	color: #7f7f7f;
	margin-left: 10px;
	margin-top: -7px;
}

.izbrtxt2 {
	font-size: 13px;
	color: #121e52;
	text-decoration: underline;
	font-family: Arial, bold;
	margin-top: -9px;
	margin-right: 10px; 
	float: right;
}

.izbrline {
	float: left;
	margin-bottom: 10px;
	margin-top: 6px;
}

.two00{
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: left;
}

.raiting {
	background: #f7f7f7;
	height: 410px;
	margin: 0px;
	float: left;
	width: 265px;
}

.contrait{
	font-size: 18px;
	color: black;
	font-family: Arial, bold;
	margin-top: 22px;
	margin-left: 24px;
	padding: 0px;
	text-transform: uppercase;
	margin-bottom: -20px;
}

.stroka1 {
	float: left;
	margin-left: 20px;
	margin-top: -4px;
	padding: 0px;
	margin-bottom: -8px;
}

.raitnum {
	font-family: Arial, bold;
	font-size: 13px;
	color: #949494;
	float: left;
	margin-right: 20px;
}

.raitnum2 {
	font-family: Arial, bold;
	font-size: 13px;
	color: black;
	float: right;
	font-style: initial;
	margin-right: 30px;
	margin-top: -27px;
}

.raitname {
	font-size: 13px;
	color: #121e52;
	text-decoration: underline;
	font-family: Arial, bold;
	width: 250px;
	border: 0px;
}

.raitS {
	margin-top: -10px;
}

.may {
	float: left;
	color: #2ca3fe;
	font-size: 13px;
	font-family: Arial, bold;
	margin-left: 36px;
	margin-top: 20px;
}

.ulli {
	float: left;
	margin-left: 25px;
	margin-top: 18px;
	color: #424242;
	font-size: 15px;
	text-decoration: underline;
	white-space: nowrap;
}

.punkt {
	float: left;
	position: absolute;
	margin-top: 31px;
	margin-left: 22px;
}

.commcont3lb{
	font-size: 18px;
	color: black;
	font-family: Arial, bold;
	margin-top: 18px;
	margin-left: 24px;
	padding: 0px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.cont3comm {
	background-color: #f7f7f7;
	height: 828px;
	margin: 0px;
	float: left;
	margin-top: 7px;
	width: 265px;
}

.cont3comm2 {
	background-color: #fff;
	height: 818px;
	margin-top: 4px;
	margin-left: 4px;
	float: left;
	width: 257px;
}

.cont3clock {
	object-fit: none;
	object-position: 72% 0%;
	width: 22px;
	height: 20px;
	float: right;
	margin-top: 1px;
	margin-right: 0px;
}

.cont3clocktxt {
	float: right;
	color: #a0a0a0;
	font-size: 10px;
	font-family: Arial;
	margin-top: 4px;
	margin-right: 22px;
}

.cont3zap {
	margin-left: 22px;
}

.commtxt {
	font-size: 13px;
	color: #121e52;
	text-decoration: underline;
	font-family: Arial, bold;
	width: 250px;
	border: 0px;
	margin-top: -30px;
}

.commlb2 {
	font-size: 12px;
	float: left;
	font-family: Arial;
	color: #7f7f7f;
	text-decoration: underline;
	margin-top: -12px;
	margin-bottom: 20px;
}

.commlb {
	position: absolute;
	margin-top: 32px;
	margin-left: -97px;
	width: 200px;
}

.commlb_ {
	position: absolute;
	margin-top: 32px;
	margin-left: -34px;
	width: 200px;
}

.commlb_2 {
	position: absolute;
	margin-top: 32px;
	margin-left: -43px;
	width: 200px;
}

.commclear {
	clear: left;
}

.commrisline {
	float: left;
	margin-bottom: 15px;
}

.twitter {
	background-color: #f7f7f7;
	height: 400px;
	float: left;
	margin-top: 7px;
}

.foll {
	float: right;
	margin-top: -19px;
	margin-right: 20px;
}

.bjtw {
	float: left;
	margin-left: 24px;
	margin-top: 10px;
}

.twitterlabel{
	font-size: 18px;
	color: black;
	font-family: Arial, bold;
	margin-top: 18px;
	margin-left: 24px;
	padding: 0px;
	text-transform: uppercase;
	margin-bottom: -20px;
}

.tw {
	color: #121e52;
	font-family: Arial;
	font-size: 13px;
	float: left;
	margin-left: 10px;
}

.tw2 {
	color: #595959;
	font-family: Arial;
	font-size: 12px;
	float: left;
	margin-left: -95px;
}

.tw2_ {
	color: #595959;
	font-family: Arial;
	font-size: 10px;
	float: right;
	margin-right: 35px;
	margin-top: 15px;
}

.twittxt {
	color: black;
	font-family: Arial;
	font-size: 13px;
	float: left;
	width: 200px;
	margin-top: 0px;
	margin-left: 24px;
}

.twittxt2 {
	color: #414b75;
	font-family: Arial;
	font-size: 13px;
	float: left;
	width: 200px;
	margin-top: -10px;
	margin-left: 24px;
	text-decoration-line: none;
	margin-bottom: 15px;
}

.twline {
	float: left;
	margin-left: 24px;
	margin-bottom: 10px;
}

.btn {
	float: left;
	margin-left: 12px;
}

.btntxt {
	color: #121e52;
	font-family: Arial;
	font-size: 13px;
	float: left;
	position: absolute; 
	margin-left: 24px;
	margin-top: 10px;
	text-decoration-line: none;
}

button {
	width: 215px;
	margin-left: 24px;
	height: 30px;
	margin-top: 8px;
}

.vk {
	background-color: #f7f7f7;
	height: 640px;
	float: left;
	margin-top: 10px;
}

.vkpic {
	margin-left: 28px;
	margin-top: 24px;
}


.footballer {
	position: relative;
	float: left;
	margin-top: 0px;
	padding: 0px;
}

.cont14 {
	margin-top: 364px;
	position: absolute;
	font-size: 11px;
	font-family: Arial, bold;
	color: #f7f7f7;
	margin-left: 16.5px;
}

.cont4label {
	position: absolute;
	margin-top: 0px;
	font-size: 13px;
	font-family: Arial;
	color: #f7f7f7;
	background-color: #ffa71e;
	text-transform: uppercase;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.cont4label2 {
	position: absolute;
	margin-top: 270px;
	width: 490px;
	text-align: justify;
	margin-left: -575px;
	font-size: 22px;
	font-family: Arial;
	color: #f7f7f7;
}

.cont4data {
	position: absolute;
	padding-left: 40px;
	margin-top: 364px;
	font-size: 11px;
	float: left;
	font-family: Arial;
	color: #f7f7f7;
}

.cont4fio {
	position: absolute;
	padding-left: 469px;
	margin-top: 361px;
	font-size: 12px;
	float: left;
	font-family: Arial;
	color: #f7f7f7;
}

.cont4icon {
	object-fit: none;
	object-position: 39% 0%;
	width: 22px;
	height: 20px;
	margin-top: 363px;
	float: left;
	margin-left: -580px;
	position: absolute;
}

.cont4icon2 {
	object-fit: none;
	object-position: right 0;
	width: 22px;
	height: 20px;
	float: right;
	margin-top: 363px;
	position: absolute;
	margin-left: -150px;
}

.cont5icon {
	object-position: 39% 0%;
}

.cont5txt {
	font-size: 13px;
	color: #f7f7f7;
	font-family: Arial;
	width: 201px;
}

.cont5iconnum {
	font-size: 11px;
	font-family: Arial, bold;
	color: #f7f7f7;
}

.cont5data {
	font-size: 11px;
	float: left;
	font-family: Arial;
	color: #f7f7f7;
}

.cont6 {
	margin-top: 15px;
	margin-left: 18px;
	width: 126px;
	float: left;
	margin-right: 20px;
}

.cont6bloks {
	float: left;
	margin-top: 15px;
}

.cont6stavkidnya {
	color: #ffa71e;
	font-size: 18px;
	text-transform: uppercase;
	font-family: Arial, bold;
	padding: 0px;
	margin: 0px;
	margin-bottom: 8.5px;
}

.cont6links {
	color: #404973;
	font-size: 12px;
	margin-top:18px;
	padding: 0px;
	clear: left;
}

.cont6calendnum {
	position: absolute;
	color: black;
	font-size: 11px;
	font-family: Arial;
	margin-top: 26px;
	margin-left: 7px;
}

.cont6calend{
	position: relative;
	float: left;
	padding: 0px;
	margin-top: 15px;
}

.cont6blok{
	float: left;
	padding: 0px;
	margin: 0px;
}

.cont6label{
	font-family: Arial;
	font-size: 13px;
	color: #121e52;
	width: 136px;
	text-align: left;
	text-decoration: underline;
	display: inline-block;
	margin-right: 0px;
}

.cont6label2 {
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;
	font-size: 12px;
	font-style: italic;
	font-family: Arial;
}

.cont6log {
	margin-top: 15px;
}

.cont6v {
	margin-top: 15px;
	float: left;
	margin-left: 14px;
	margin-right: 20px;
}

.cont7prognozy {
	float: left;
	margin: 0px;
	padding: 0px;
	color: #ffa71e;
	font-size: 24px;
	margin-top: -4px;
	text-transform: uppercase;
	font-family: Arial, bold;
	clear: left;
}

.cont7clear {
	clear: left;
	margin-top: 17px;
}

.cont7image {
	float: left;
	margin-right: 17px;
}

.cont7image2 {
	float: right;
}

.cont7image2_ {
	margin-left: 17px;
}

.cont7images {
	margin-top: 0px;
	position: relative;
	float: left;
}

.cont7sprite{
	position: absolute;
	float: left;
	margin-top: 14px;
	margin-left: -184px;
	padding: 0px;
}

.cont7spritenum{
	position: absolute;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	padding: 0px;
}

.cont7imagelabel {
	position: absolute;
	color: white;
	font-size: 13px;
	font-family: Arial;
	text-align: left;
	text-decoration: underline;
	width: 170px;
	margin-top: 143px;
	margin-left: -179.5px;
}

.cont8blok1 {
	margin-top: -24px;
	padding: 0px;
	background-color: #fff;
	height: 420px;
}

.cont8blok2 {
	margin-top: -20px;
	padding: 0px;
	background-color: #fff;
	height: 540px;
	margin-bottom: 5px;
}

.cont8label {
	padding-top: 18px;
	color: #ffa71e;
	font-size: 24px;
	text-transform: uppercase;
	font-family: Arial, bold;
	clear: left;
}

.cont8interwpic {
	margin: 0px;
	padding: 0px;
	float: left;
}

.cont8interw {
	float: left;
	margin-top: -5px;
	margin-left: 22px;
	width: 240px;
	font-size: 22px;
	font-family: Arial;
	color: #121e52;
	text-decoration: underline;
}

.cont8interw2 {
	float: left;
	margin-left: 22px;
	width: 276px;
	font-size: 13px;
	font-family: Arial;
	color: black;
	margin-top: 18px;
}

.cont8S {
	margin-top: 311px;
	margin-left: 517px;
}

.cont8S2 {
	margin-top: 465px;
	margin-left: 0px;
}

.cont8krug {
	width: 9px; 
	height: 9px;
	background: #ffa71d;
	border-radius: 50%;
	padding: 0px;
	margin-top: -5.5px;
	float: right;
	margin-left: 4px;
	margin-right: 20px;
}

.cont8krug2 {
	width: 9px; 
	height: 9px;
	background: #000;
	border-radius: 50%;
	padding: 0px;
	margin-top: -5.5px;
	float: right;
	margin-left: 4px;
}

.cont8descr {
	position: absolute;
	float: left;
	font-size: 22px;
	font-family: Arial;
	color: #121e52;
	text-decoration: underline;
	margin-top: 332px;
	margin-left: -510px;
}

.cont8descr2 {
	position: absolute;
	float: left;
	width: 460px;
	font-size: 13px;
	font-family: Arial;
	color: black;
	margin-top: 370px;
}


.cont9s {
	width: 224px;
	margin-left: 20px;
}

.cont10 {
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
}

.cont10krug {
	width: 102px; 
	height: 102px;
	background: #bebebe;
	border-radius: 50%;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

.cont10skrug {
	float: left;
	margin: 0px;
	padding: 0px;
	margin-left: 38px;
	margin-top: 30px;
}

.cont10label {
	font-family: Arial, bold;
	font-size: 24px;
	color: #ffa71e;
	float: left;
	margin-top: 30px;
	padding: 0px;
	margin-left: 33px;
}

.cont10label2 {
	font-family: Arial, bold;
	font-size: 14px;
	color: black;
	float: left;
	margin-top: -10px;
	padding: 0px;
	margin-left: 33px;
	width: 600px;
}

.final {
	margin-top: 490px;
	margin-bottom: -20px;
}

.fin {
	margin-top: 10px;
	padding: 0px;
	background-color: #fff;
}

.fbj {
	float: left;
	clear: left;
	margin-top: -13px;
}

#rectangle {
    width: 590px;
    height: 142px;
    background: black;
    opacity: 0.4;
    position: absolute;
	margin-top: 251px;
}

#rectangle2 {
    width: 193px;
    height: 78px;
    background: black;
    opacity: 0.4;
    position: absolute;
	margin-top: 120px;
}

#aplus {
	float: left;
	position: absolute;
	color: white;
	font-size: 12px;
	margin-left: 4.5px;
	margin-top: 4px;
	font-family: Arial, bold;
}

#cont2label {
	margin-top: 18px;
	color: #ffa71e;
	font-size: 24px;
	margin-bottom: 14px;
}

#cont2lb {
	width: 734px;
	margin-bottom: 8px;
	font-size: 14px;
	width: 741px;
	height: 57px;
}

#cont2lb2 {
	float: left;
	font-size: 12px;
	margin-top: 20px;
}

#cont2price {
	font-family: Arial;
	font-size: 11px;
	margin-left: 160px;
	margin-top: -10px;
	float: right;
	position: absolute;
}

#cont2reit {
	font-family: Arial, bold;
	font-size: 12px;
	float: right;
	font-style: italic;
	color: #121e52;
	margin-top: 12px;
	text-decoration: underline;
	margin-right: 10px;
}

#headlabel {
	width: 160px;
	text-align: center;
	float: left;
	margin-top: 18px;
	font-size: 12px;
	font-family: Arial;
	color: #414141;
	margin-left: 31px;
}

#headreg {
	text-align: center;
	float: right;
	margin-top: 22px;
	font-size: 12px;
	font-family: Tahoma, bold;
	color: #414141;
	margin-right: 70px;
	text-decoration: none;
}

#headsearch {
	float: right;
	position: absolute;
	margin-left: 685px;
	margin-top: 22px;
}



