.tbpad th{
	padding: 5px;
	text-align: center;
}

.tdpad td{
	text-align: center;
}


.btn2 {
	margin-top: 12px;
}

.fsize {
	font-size: 14px;
}

.desc_cont_width {
	width: 400px;
	height: 150px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 40px;
	resize: none;
}

.title_author_width {
	width: 265px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.btntop {
	margin-top: 50px;
	margin-left: 10px;
}

.authornamewidth {
	width: 290px;
}

.mrnlefttable {
	margin-left: 10px;
}

